# Salin file ini jadi ".env" lalu isi dengan kredensial project Supabase kamu.
# Ambil dari: Supabase Dashboard > Project Settings > API

VITE_SUPABASE_URL='https://akqsolqtisesymoljnrs.supabase.co'
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcXNvbHF0aXNlc3ltb2xqbnJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5MDEzNDAsImV4cCI6MjEwNDQ3NzM0MH0.ks-0mbEqAzXzbJND8_2Y4VSCP1YSuzhh-SS1GIxpCAc'
